@font-face {
    font-family: Amelia_Giovani;
    src: url(../public/fonts/Amelia_Giovani/Amelia_Giovani.ttf)
        format('opentype');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Amelia_Giovani, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
